<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{element.name}}">
  <ion-content class="padding">
   <!-- <img ng-src="{{element.face}}" style="width: 64px; height: 64px">-->
   <img ng-src = "../img/ben.png" style="width: 64px; height: 64px">
    <p>
      Atomic number: {{element.id}} 
    </p>
    <p>
      Atomic mass: {{element.mass}} g/mol
    </p>
    <p>
      Group: {{element.type}}
    </p>
    <p>
      Boiling point: {{element.boiling}} K
    </p>
    <p>
      Melting point: {{element.melting}} K
    </p>
    <p>
      Electron configuration: {{element.orbits}}
    </p>
  </ion-content>
</ion-view>
